[submodule "roles/gearman"]
	path = roles/gearman
	url = ssh://git@vc.shiin.org:2222/devops/ansible-gearman.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = ssh://git@vc.shiin.org:2222/devops/ansible-nginx.git
[submodule "roles/rabbit-message-queue"]
	path = roles/rabbit-message-queue
	url = ssh://git@vc.shiin.org:2222/devops/ansible-rabbit-message-queue.git
[submodule "roles/maria-database"]
	path = roles/maria-database
	url = ssh://git@vc.shiin.org:2222/devops/ansible-maria-database.git
[submodule "roles/sury-repository"]
	path = roles/sury-repository
	url = git@github.com:FunTimeCoding/ansible-sury-repository.git
[submodule "roles/php-mysql"]
	path = roles/php-mysql
	url = git@github.com:FunTimeCoding/ansible-php-mysql.git
[submodule "roles/php-apcu"]
	path = roles/php-apcu
	url = git@github.com:FunTimeCoding/ansible-php-apcu.git
[submodule "roles/php-intl"]
	path = roles/php-intl
	url = git@github.com:FunTimeCoding/ansible-php-intl.git
[submodule "roles/php-utility"]
	path = roles/php-utility
	url = ssh://git@vc.shiin.org:2222/devops/ansible-php-utility.git
[submodule "roles/php-amqp"]
	path = roles/php-amqp
	url = git@github.com:FunTimeCoding/ansible-php-amqp.git
[submodule "roles/php-bcmath"]
	path = roles/php-bcmath
	url = git@github.com:FunTimeCoding/ansible-php-bcmath.git
[submodule "roles/php-curl"]
	path = roles/php-curl
	url = git@github.com:FunTimeCoding/ansible-php-curl.git
[submodule "roles/php-fpm"]
	path = roles/php-fpm
	url = git@github.com:FunTimeCoding/ansible-php-fpm.git
[submodule "roles/php-gearman"]
	path = roles/php-gearman
	url = git@github.com:FunTimeCoding/ansible-php-gearman.git
[submodule "roles/php-json"]
	path = roles/php-json
	url = git@github.com:FunTimeCoding/ansible-php-json.git
[submodule "roles/php-mbstring"]
	path = roles/php-mbstring
	url = git@github.com:FunTimeCoding/ansible-php-mbstring.git
[submodule "roles/php-zip"]
	path = roles/php-zip
	url = git@github.com:FunTimeCoding/ansible-php-zip.git
[submodule "roles/php-skeleton"]
	path = roles/php-skeleton
	url = git@github.com:FunTimeCoding/ansible-php-skeleton.git
[submodule "roles/shell-skeleton"]
	path = roles/shell-skeleton
	url = git@github.com:FunTimeCoding/ansible-shell-skeleton.git
[submodule "roles/php-xml"]
	path = roles/php-xml
	url = git@github.com:FunTimeCoding/ansible-php-xml.git
[submodule "roles/php-ast"]
	path = roles/php-ast
	url = git@github.com:FunTimeCoding/ansible-php-ast.git
[submodule "roles/php-xdebug"]
	path = roles/php-xdebug
	url = git@github.com:FunTimeCoding/ansible-php-xdebug.git
