includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
# Comment this out to ignore MockObject errors.
#parameters:
#	ignoreErrors:
#		- '#PHPUnit\\Framework\\MockObject\\MockObject given#'
