includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    excludes_analyse:
        # TODO: Try again in the future or investigate further.
        # Reason: Child process error (exit code 255): PHP Fatal error:  Cannot declare class ZabbixApi\Exception
        - src/LanguageExample/Zabbix/Client.php
