<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>test</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>test/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix="Test.php">test</directory>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
