<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         colors="true">
    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <file>.php_cs.php</file>
            <file>web/index.php</file>
            <directory>test</directory>
            <directory suffix=".php">vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="all">
            <directory>test</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>test/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
